<form *ngIf="form" [formGroup]="form" (ngSubmit)="submit()" class="dynamic-form">
  <div *ngFor="let field of _config" class="form-field-wrapper">
    <!-- Non-repeatable fields -->
    <ng-container *ngIf="field.type !== 'repeatableGroup'; else repeatableGroupBlock">
      <app-dynamic-form-field
        [field]="field"
        [form]="form"
        (onFocus)="onControlFocus($event)"
        (onBlur)="onControlBlur($event)"
        (onFileChange)="onFileChange($event)"
      ></app-dynamic-form-field>
    </ng-container>

    <!-- Repeatable group block -->
    <ng-template #repeatableGroupBlock>
      <ng-container *ngIf="isRepeatableGroup(field)">
        <ng-container *ngIf="field as repeatField">
          <div class="repeatable-group-header">
            <label class="group-label">{{ repeatField.label }}</label>
            <p class="group-help-text">{{ repeatField.helpText }}</p>
          </div>

          <div [formArrayName]="repeatField.id" class="repeatable-group-list">
            <div
              *ngFor="let group of getFormArrayControls(repeatField.id); let i = index"
              [formGroupName]="i"
              class="repeatable-group-item"
            >
              <ng-container *ngFor="let childField of repeatField.fields">
                <app-dynamic-form-field
                  [field]="childField"
                  [form]="group"
                  (onFocus)="onControlFocus($event)"
                  (onBlur)="onControlBlur($event)"
                  (onFileChange)="onFileChange($event, i, repeatField.id)"
                ></app-dynamic-form-field>
              </ng-container>

              <button
                type="button"
                class="remove-group-button"
                (click)="removeGroup(repeatField.id, i)"
              >
                Remove {{ repeatField.singlularLabel || 'Item' }}
              </button>
            </div>
          </div>

          <button
            type="button"
            class="add-group-button"
            (click)="addGroup(repeatField)"
            [disabled]="isMaxReached(repeatField.id, repeatField.maxItems)"
          >
            Add {{ repeatField.singlularLabel || 'Item' }}
          </button>
        </ng-container>
      </ng-container>
    </ng-template>
  </div>

  <button type="submit" class="submit-button">
    Submit
  </button>
</form>