# -------------- Core App --------------
PORT=
ACCESS_TOKEN_PRIVATE_KEY=
APP_BASE_URL=

# Can be local, dev, prod
NODE_ENV=

# -------------- Third party --------------

## Github
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

## Mongo DB
MONGO_URI=